
/*start: header styles*/

/*end: header styles*/
/*start: header search styles*/
html{
    direction: rtl;
    font-family: Arial, Helvetica, sans-serif;
}

#header-search{
    display: flex;
    justify-content:space-between;
    position: relative;
    background-color: #fc5c65;
    width: 100%;
    height: 50px;
}

#header-search span{
    direction: ltr;
}

#header-search span a{
    
    padding: 5px;
    text-align: center;
    color: #fff;
    height: 100%;
    text-decoration: none;
}

#header-search span a i{
    text-align: center;
    vertical-align: middle;
    margin-top: 10px;
    margin-left: 20px;
}

.welcome-messages-item{
    margin: 5px;
    padding: 5px 20px;
    overflow: hidden;
    font-size: 1.3rem;
    border-left: 0.13em solid #fc5c65;
    width: 0;
    height: 70%;
    white-space: nowrap;
    animation: typing 3s forwards;
}

#welcome-messages{
    display: inline-block;
}

@keyframes typing{
    from{ width: 0;}
    to {width: 100%;}
}


/*end: header search styles*/
/*start: header navbar styles*/
#nav-bar{
    padding: 0;
    background-color: #d1d8e0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#nav-image-section{
}

#nav-image{
    width: 200px;
    margin: 30px ;
    border-radius: 60px;
}
/*end: header navbar styles*/